<div class="dashboard-container">
  <h1>Hi, Admin 👋</h1>

  <div class="tip-box">
    💡 <em>{{ currentQuote }}</em>
  </div>

  <div class="stats-cards">
    <div class="card badge add-teacher" (click)="goToAddTeacher()">
      <h2>➕</h2>
      <p>Add Teacher</p>
    </div>
    <div class="card badge view-reports" (click)="goToReports()">
      <h2>📊</h2>
      <p>View All Reports</p>
    </div>
    <div class="card badge view-teachers" (click)="goToTeachers()">
      <h2>👨‍🏫</h2>
      <p>View All Teachers</p>
    </div>
    <div class="card badge view-students" (click)="goToStudents()">
      <h2>🎓</h2>
      <p>View All Students</p>
    </div>
    
  </div>
</div>