<div class="dashboard-container">
    <div class="dashboard-header">
      <h2>Hi, {{ teacherName }} 👋</h2>
      <div class="dashboard-quote">
        <span>💡 Small steps lead to big success 🌱</span>
      </div>
    </div>
    <div class="dashboard-cards">
      <div class="dashboard-card card-blue" (click)="onViewExams()">
        <div class="card-icon">📚</div>
        <div class="card-title">View Available Exams</div>
      </div>
      <div class="dashboard-card card-green" (click)="onCreateExam()">
        <div class="card-icon">➕</div>
        <div class="card-title">Create Exams</div>
      </div>
      <div class="dashboard-card card-purple" [routerLink]="['/teacher/manage-questions']"
      style="cursor:pointer;">
        <div class="card-icon">❓</div>
        <div class="card-title">Manage Questions</div>
      </div>
      <div class="dashboard-card card-orange" (click)="onAnalytics()">
        <div class="card-icon">📊</div>
        <div class="card-title">Analytics</div>
      </div>
    </div>
  </div>