<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="main-content">

        <!-- Toggle switch -->
        <div class="toggle-container">
          <div class="toggle">
            <span (click)="switchToLogin()">Login</span>
            <span class="active">Sign Up</span>
            <div class="slider moveRight"></div>
          </div>
        </div>

        <div class="left-image">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" width="450"
            class="img-fluid" alt="Sample image" />
        </div>

        <div class="right-text">
          <form (ngSubmit)="onSignup()">
            <p class="form-title">Sign Up for Exam Portal</p>

            <!-- Name -->
            <div class="form-outline">
              <label for="signup-name">Name</label>
              <input type="text" id="signup-name" [(ngModel)]="user.name" name="name"
                placeholder="Enter your name" required />
            </div>

            <!-- Email -->
            <div class="form-outline">
              <label for="signup-email">Email</label>
              <input type="email" id="signup-email" [(ngModel)]="user.email" name="email"
                placeholder="Enter your email" required />
            </div>

            <!-- Password -->
            <div class="form-outline password-container">
              <label for="signup-password">Password</label>
              <input [type]="showPassword ? 'text' : 'password'" id="signup-password"
                [(ngModel)]="user.password" name="password" placeholder="Enter password" required />
              <span class="toggle-icon" (click)="showPassword = !showPassword">
                {{ showPassword ? '🙈' : '👁️' }}
              </span>
            </div>

            <button type="submit">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>